@font-face {
  font-family: "BeVietnamPro";
  src: url("/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Manrope", sans-serif;
}

.font-beVietnamPro {
  font-family: "BeVietnamPro", sans-serif;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-manrope-medium {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.font-manrope-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700; /* Bold weight */
}

.font-beVietnamPro-semibold {
  font-family: "BeVietnamPro", sans-serif;
  font-weight: 600;
}
